
@{
	ViewBag.Title = "Detail";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
	@functions{
		public string GetAntiForgeryToken()
		{
			string cookieToken, formToken;
			AntiForgery.GetTokens(null, out cookieToken, out formToken);
			return cookieToken + ":" + formToken;
		} }
	<input type="hidden" id="primaryID" name="primaryID" value="@ViewBag.CurrentID" />
	<input type="hidden" id="ActionType" name="ActionType" value="@ViewBag.ActionType" />
	<div class="content_header">
		<ol class="breadcrumb">
			<li>
				<a href="/home/dashboard"><i class="fa fa-home"></i></a>
			</li>
			<li>CLS</li>
			<li>Transaction</li>
			<li>Toilet Inspection</li>
			<a id="HelpDescriptionLink" data-toggle="modal" title="" tabindex="0" data-target="#Description" aria-disabled="false">
				<i class="fa fa-question-circle" aria-hidden="true" style="float:right; margin-right:20px;"></i>
				<span class="badge" id="helpdescriptionid"></span>
			</a>
		</ol>
	</div>
	<br />
	<div class="standard-tabs" id="tabs">
		<ul class="nav nav-tabs">
			<li class="active"><a href="#formppmplanner" data-toggle="tab">Toilet Inspection</a></li>
			<li role="presentation">
				<a href="#divformAttachment" id="AttachmentTab" aria-controls="profile" role="tab" data-toggle="tab">Attachments</a>
			</li>
		</ul>
	</div>

	<div class="tab-content">
		<div role="tabpanel" class="tab-pane active" id="formppmplanner">
			<form id="formToiletInspection" name="formToiletInspection" class="form-horizontal">
				<div class="row">
					<div class="col-sm-6">
						<div class="form-group">
							<label class="col-sm-6 control-label">Document No.</label>
							<div>
								<div class="col-sm-6">
									<input type="text" class="form-control" disabled="disabled" id="txtDocumentNo" autocomplete="off" name="DocumentNo" maxlength="25" />
								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="form-group">
							<label class="col-sm-6 control-label">Date<span style="color:red">*</span></label>
							<div>
								<div class="col-sm-6" id="date">
									<input type="text" required class="form-control datetime" placeholder="" id="txtDate" autocomplete="off" name="Date" maxlength="25" />
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-6">
						<div class="form-group">
							<label class="col-sm-6 control-label">Total Done</label>
							<div>
								<div class="col-sm-6">
									<input type="text" class="form-control" disabled="disabled" id="txtTotalDone" autocomplete="off" name="TotalDone" maxlength="25" />
								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="form-group">
							<label class="col-sm-6 control-label">Total Not Done</label>
							<div>
								<div class="col-sm-6">
									<input type="text" class="form-control" disabled="disabled" id="txtTotalNotDone" autocomplete="off" name="TotalNotDone" maxlength="25" />
								</div>
							</div>
						</div>
					</div>
				</div>
				<br />
				<p align="center">
					@*<button type="button" id="btnFetch" class="btn btn-primary customButton" title="Fetch">Fetch</button>*@
					<input type="button" class="btn btn-primary" id="btnFetch" value="Fetch" />
				</p>
				<hr />
				<br />
				<div class="row">
					<div class="col-sm-12 form-group">
						<p style="font-size: 1em"><b>Legend :</b></p>
						<p style="font-size: 1em"><b>M:Mirror, F:Floor, W:Wall, U:Urinal, BW:Bowl, BS:Basin, TR:Toilet Roll, SP:Soap Dispenser, AA:Auto AirFreshner, W:Waste </b></p>
					</div>
				</div>
				<br />
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="tabCleansingDetails">
						<table id="table1" class="table table-bordered row_check">
							<thead class="tableHeading">
								<tr>
									<th rowspan="3" style="text-align: center;">Location Code</th>
									<th rowspan="3" class="required" style="text-align: center;">Status<span style="color:red">*</span></th>
									<th colspan="12" style="text-align: center;">Job Item/Frequency(Daily)</th>
								</tr>
								<tr>
									<th style="text-align: center;" width="6%">ALL<br /> <input type="checkbox" class="selectAll" title="Check All" id="chkCheckAll" name="chkCheckAll"></th>
									<th style="text-align: center;" width="5%">M<br /> <input type="checkbox" id="chkMirrorAll"></th>
									<th style="text-align: center;" width="5%">F<br /> <input type="checkbox" id="chkFloorAll" name="FCheckAll"></th>
									<th style="text-align: center;" width="5%">W<br /> <input type="checkbox" id="chkWallAll" name="WCheckAll"></th>
									<th style="text-align: center;" width="5%">U<br /> <input type="checkbox" id="chkUrinal" name="UCheckAll"></th>
									<th style="text-align: center;" width="5%">BW<br /> <input type="checkbox" id="chkBowl" name="BWCheckAll"></th>
									<th style="text-align: center;" width="5%">BS<br /> <input type="checkbox" id="chkBasin" name="BSCheckAll"></th>
									<th style="text-align: center;" width="5%">TR<br /> <input type="checkbox" id="chkToiletRoll" name="TRCheckAll"></th>
									<th style="text-align: center;" width="5%">SP<br /> <input type="checkbox" id="chkSoapDispenser" name="SPCheckAll"></th>
									<th style="text-align: center;" width="5%">AA<br /> <input type="checkbox" id="chkAutoAirFreshner" name="AACheckAll"></th>
									<th style="text-align: center;" width="5%">W<br /> <input type="checkbox" id="chkWaste" name="WasteCheckAll"></th>
								</tr>
							</thead>
							<tbody id="myDIV" style="text-align:center"></tbody>
						</table>

					</div>
					<div id="errorMsg" class="errormsgcenter" style="color:red; visibility:hidden;" aria-hidden="true">
						<!-- ngIf: RescheduleErrorList.length > 0 -->
					</div>
				</div>
			</form>
			<div class="row mt30">
				<div class="form-group">
					<div class="col-sm-12 text-center">
						@*<button type="button" id="btnSave" class="btn btn-primary customButton" title="Save"><i class="fa fa-floppy-o" aria-hidden="true"></i>Save</button>
							<button type="button" id="btnSaveandAddNew" class="btn btn-primary customButton" title="Save & Add New"><i class="fa fa-plus " aria-hidden="true"></i>Save & Add New </button>
							<button type="button" id="btnCancel" name="btnCancel" class="btn btn-grey customButton" title="Reset"><i class="fa fa-repeat" aria-hidden="true"></i>Reset</button>*@
						<input type="button" id="btnSave" class="btn btn-primary" value="Save" />
						<input type="button" id="btnSaveandAddNew" class="btn btn-primary" value="Save & Add New" />
						<input type="button" id="btnCancel" class="btn btn-primary" value="Reset" />
					</div>
				</div>
			</div>
			<br />
		</div>
		@Html.Partial("~/Areas/CLS/Views/Shared/Attachments.cshtml")
	</div>
	@Html.Partial("~/Areas/CLS/Views/ToiletInspection/List.cshtml")
</div>

@section scripts{
	<script type="text/javascript" src="@Url.Content("~/Scripts/ng/controllers/CLS/ToiletInspection.js")"></script>
	<script type="text/javascript" src="@Url.Content("~/Scripts/ng/common/Attachment.js")"></script>
}
