@{
    ViewBag.Title = "FEMS-Block";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    @functions{
        public string GetAntiForgeryToken()
        {
            string cookieToken, formToken;
            AntiForgery.GetTokens(null, out cookieToken, out formToken);
            return cookieToken + ":" + formToken;
        }
    }

    <input id="antiForgeryToken" type="hidden" />
    <input type="hidden" id="primaryID" name="primaryID" value="@ViewBag.CurrentID" />
    <input type="hidden" id="ActionType" name="ActionType" value="@ViewBag.ActionType" />
    <input type="hidden" id="Timestamp" name="Timestamp" value="null" />
    <input type="hidden" id="hdnStatus" name="hdnStatus" />
    <input type="hidden" id="hdnAttachId" name="HdnAttachId" />

    <!-- Content Header Starts -->
    <div class="content_header">
        <ol class="breadcrumb">
            <li>
                <a href="/home/dashboard"><i class="fa fa-home"></i></a>
            </li>
            <li>FEMS</li>
            <li>Locations</li>
            <li class="active">Block</li>
            <a id="HelpDescriptionLink" data-toggle="modal" title="" tabindex="0" data-target="#Description" aria-disabled="false">
                <i class="fa fa-question-circle" aria-hidden="true" style="float:right;margin-right:20px;"></i>
                <span class="badge" id="helpdescriptionid"></span>
            </a>
        </ol>
        <h4> Block</h4>
        @*<h4><span id="spnActionType">Add</span> Block</h4>*@
    </div>

    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#divBlock" aria-controls="home" role="tab" data-toggle="tab">Block</a></li>
        <li role="presentation"><a href="#divCommonHistory" id="History" aria-controls="profile" role="tab" data-toggle="tab">History</a></li>

    </ul>
    <!-- Content Header Ends -->
    <!-- Contents goes here -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="divBlock">
            <form name="formBemsBlock" id="formBemsBlock" class="form-horizontal" novalidate>
                <div class="row">
                    <div class="col-sm-6 ">
                        <div class="form-group">
                            <label for="blockFacility" class="col-sm-6 control-label">Facility</label>
                            <div class="col-sm-6">
                                <div>
                                    <select id="blockFacilityId" class="form-control" autofocus disabled>
                                        <option value="null" selected>Select</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">

                    <div class="col-sm-6 ">
                        <div class="form-group">
                            <label for="blockCode" class="col-sm-6 control-label">Block Code <span class="red">*</span></label>
                            <div class="col-sm-6">
                                <div>
                                    <input type="text" class="form-control" pattern="^[a-zA-Z0-9\-\/]{3,25}$" maxlength="25" required id="blockCode">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 ">
                        <div class="form-group">
                            <label for="blockBlkName" class="col-sm-6 control-label">Block Name <span class="red">*</span></label>
                            <div class="col-sm-6">
                                <div>
                                    <input type="text" class="form-control" maxlength="25" pattern="^[a-zA-Z0-9\-\.\/\(\)\s]+$" required id="blockName">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6 ">
                        <div class="form-group">
                            <label for="blockShortName" class="col-sm-6 control-label">Short Name <span class="red">*</span></label>
                            <div class="col-sm-6">
                                <div>
                                    <input type="text" class="form-control" maxlength="25" pattern="^[a-zA-Z0-9\-\.\/\(\)\s]+$" required id="blockShortName">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 ">
                        <div class="form-group">
                            <label for="blockStatus" class="col-sm-6 control-label">Status </label>
                            <div class="col-sm-6">
                                <select id="SelStatus" class="form-control">
                                    <option value="1">Active</option>
                                    <option value="0">Inactive</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="errorMsg" class="errormsgcenter" style="color:red;visibility:hidden;text-align:center;" aria-hidden="true">
                    <!-- ngIf: RescheduleErrorList.length > 0 -->
                </div>
                <br />
                <div class="form-group">
                    <div class="col-sm-12 text-center">
                        <button type="button" id="btnSave" class="btn btn-primary customButton" title="Save" tabindex="5"><i class="fa fa-floppy-o" aria-hidden="true"></i>Save</button>
                        <button type="button" id="btnEdit" class="btn btn-primary customButton hider" title="Save" tabindex="5"><i class="fa fa-floppy-o" aria-hidden="true"></i>Save</button>
                        <button type="button" id="btnSaveandAddNew" class="btn btn-primary customButton" title="Save & AddNew"><i class="fa fa-plus" aria-hidden="true"></i>Save & Add New </button>
                        <button type="button" id="btnNextScreenSave" class="btn btn-primary customButton hider" title="Add Level"><i class="fa fa-plus" aria-hidden="true"></i>Add Level</button>
                        <button type="button" id="btnDelete" name="btnDelete" class="btn btn-primary customButton hider" title="Delete"><i class="fa fa-trash" aria-hidden="true"></i>Delete</button>
                        <button type="button" id="btnCancel" name="btnCancel" class="btn btn-grey customButton" title="Reset"><i class="fa fa-repeat" aria-hidden="true"></i>Reset</button>
                    </div>
                </div>
                <br />
            </form>
        </div>
        <div role="tabpanel" class="tab-pane" id="divCommonHistory">
            <form class="form-horizontal" id="CommonHistory" autocomplete="off">
                @Html.Partial("~/Views/History/_History_PartialView.cshtml")

                <div class="row">
                    <div class="col-sm-12" style="color:red; visibility:hidden" id="errorMsgHistory">
                        <div class="errormsgcenter">

                        </div>
                    </div>
                </div>
            </form>
        </div>

    </div>
    @Html.Partial("~/Areas/FEMS/Views/FemsBlock/List.cshtml")
</div>
@section scripts{
    <script type="text/javascript" src="@Url.Content("~/Scripts/ng/controllers/BEMS/BemsBlock.js")"></script>
}


