@{
	ViewBag.Title = "Detail";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
	@functions{
		public string GetAntiForgeryToken()
		{
			string cookieToken, formToken;
			AntiForgery.GetTokens(null, out cookieToken, out formToken);
			return cookieToken + ":" + formToken;
		} }
	<input type="hidden" id="primaryID" name="primaryID" value="0" />
	<input type="hidden" id="ActionType" name="ActionType" value="@ViewBag.ActionType" />
	<div class="content_header">
		<ol class="breadcrumb">
			<li>
				<a href="/home/dashboard"><i class="fa fa-home"></i></a>
			</li>
			<li>HWMS</li>
			<li>Master</li>
			<li>License Type</li>
			<a id="HelpDescriptionLink" data-toggle="modal" title="" tabindex="0" data-target="#Description" aria-disabled="false">
				<i class="fa fa-question-circle" aria-hidden="true" style="float:right;margin-right:20px;"></i>
				<span class="badge" id="helpdescriptionid"></span>
			</a>
		</ol>
	</div>
	<br /><br />
	<div class="standard-tabs" id="tabs">
		<ul class="nav nav-tabs">
			<li class="active"><a href="#formppmplanner" data-toggle="tab">License Type</a></li>
			<li role="presentation">
				<a href="#divformAttachment" id="AttachmentTab" aria-controls="profile" role="tab" data-toggle="tab">Attachments</a>
			</li>
		</ul>
	</div>
	<div class="tab-content">
		<div role="tabpanel" class="tab-pane active" id="formppmplanner">
			<form id="formLicenseType" name="formLicenseType" class="form-horizontal" novalidate>
				<div class="row">
					<input type="hidden" id="txtIdno" />
				</div>
				<div class="row">
					<div class="col-sm-6">
						<div class="form-group">
							<label class="col-sm-6 control-label">License Type<span style="color:red">*</span></label>
							<div>
								<div class="col-sm-6">
									<div id="License">
										<select required class="form-control" id="ddlLicenseType" name="LicenseType"> </select>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-6">
					</div>
				</div>
				<div class="row">
					<div class="col-sm-6">
						<div class="form-group">
							<label class="col-sm-6 control-label">Waste Category<span style="color:red">*</span></label>
							<div>
								<div class="col-sm-6" id="Category">
									<select required class="form-control" id="ddlWasteCategory" name="WasteCategory"></select>
								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="form-group">
							<label class="col-sm-6 control-label">Waste Type<span style="color:red">*</span></label>
							<div>
								<div class="col-sm-6" id="WasteType">
									<select required class="form-control" id="ddlWasteType" name="WasteType"></select>
								</div>
							</div>
						</div>
					</div>
				</div>
				<br />
				<table id="LicenseTable" class="table table-bordered">
					<thead class="tableHeading">
						<tr>
							<th width="1%" class="text-center">
								<span style="text-align: center; " class="delete-row glyphicon glyphicon-remove" id="deleteLicenseCode"></span>
							</th>
							<th style="text-align: center;" width="10%">License Code<span style="color:red">*</span></th>
							<th style="text-align: center;" width="10%">License Description<span style="color:red">*</span></th>
							<th style="text-align: center;" width="10%">Issuing Body<span style="color:red">*</span></th>
						</tr>
					</thead>
					<tbody id="tbodyLicenseCode">
						<tr>
							<td style="text-align:center">
								<input type="hidden" id="hdnLicenseId1" value="0" />
								<input type="checkbox" name="isDelete" id="isDelete1">
							</td>
							<td id="Code">
								<input type="text" required class="form-control" id="txtLicenseCode1" autocomplete="off" name="LicenseCode" maxlength="25" />
							</td>
							<td id="Description">
								<input type="text" required class="form-control" id="txtLicenseDescription1" autocomplete="off" name="LicenseDescription" maxlength="25" />
							</td>
							<td id="body">
								<select type="text" required class="form-control" id="ddlIssuingBody1" autocomplete="off" name="IssuingBody" maxlength="25"> </select>
							</td>
						</tr>
					</tbody>
				</table>
				<div class="row mt20" id="AttachRowPlus">
					<div class="col-sm-3 ">
						<div class="form-group">
							<div class="col-sm-3">
								<div>
									<a class="btn btn-primary" id="addRowLicenseCode">+</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row mt30">
					<div class="form-group">
						<div class="col-sm-12 text-center">
							<input type="button" id="btnSave" class="btn btn-primary" value="Save" />
							<input type="button" id="btnSaveAddNew" class="btn btn-primary" value="Save & AddNew" />
							<input type="button" id="btnCancel" class="btn btn-primary" value="Reset" />
							@*<button type="button" id="btnSave" class="btn btn-primary customButton" title="Save" tabindex="5"><i class="fa fa-floppy-o" aria-hidden="true"></i>Save</button>
								<button type="button" id="btnSaveAddNew" class="btn btn-primary customButton" title="Save & AddNew"><i class="fa fa-plus" aria-hidden="true"></i>Save & Add New </button>
								<button type="button" id="btnCancel" name="btnCancel" class="btn btn-grey customButton" title="Reset"><i class="fa fa-repeat" aria-hidden="true"></i>Reset</button>*@
						</div>
					</div>
				</div>
				<div id="errorMsg" class="errormsgcenter" style="color:red; visibility:hidden;" aria-hidden="true"> </div>
			</form>
			<br />
		</div>

		@Html.Partial("~/Areas/HWMS/Views/Shared/Attachments.cshtml")
	</div>
	@Html.Partial("~/Areas/HWMS/Views/LicenseType/List.cshtml")
</div>
@section scripts{
	<script type="text/javascript" src="@Url.Content("~/Scripts/ng/controllers/HWMS/LicenseType.js")"></script>
	<script type="text/javascript" src="@Url.Content("~/Scripts/ng/common/Attachment.js")"></script>
}










